<h1><%= @note.title %></h1>
<textarea readonly="readonly">
  <%= @note.content %>
</textarea>
<% if params[:from] != "ajax" %>
  <%= link_to "Edit", edit_note_path(@note) %>
  <%= link_to "Delete", @note, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
