<h1>About PepperNote</h1>
<p>
  PepperNote is an opensource project for creating and synchronizing notes. Project consists of two main parts web server and client applications. Web server provides REST API for creating cross-platform clients. 
</p>
<p>
<p>
Peppernote is being developed as my bachelor's thesis. It came out of an idea to create fully opensource note synchronizing tool including server side. Hope to find more people interesting in this area. It's still under construction and Release Candidate is coming soon. 
</p>
<p>
Feedback me: jakub.barbierik2@gmail.com <br/>
I'm really thankful for your comments so if you have any please write me. Thank you.
</p>
<p>
Thank you for trying Peppernote hope it's getting better :)<br/>
</p>
<b>Links</b>
<li><a href="https://github.com/barbecube/peppernote">Peppernote web server on GitHub</a></li>
Link your client with this server: <%= url_for(:action => 'home', :controller => 'pages', :only_path => false) %>
</p>

<p>
Jakub Barbierik<br/>
@barbecube<br/>
jakub.barbierik2@gmail.com<br/>
Faculty of Informatics<br/>
Masaryk University Brno<br/>
</p>