<div class="center">
<h1>Hi everyone!</h1>
<p>
<h3>This is PepperNote, a new <b>opensource</b> note synchronizing tool.</p><p> 
	Currently it has just basic functionality and is still under construction, but <b>you are welcome to JOIN us anyway.</b> <br/>
	If you want some more information click the <%= link_to "About page" , about_path %> and now go ahead and <%= link_to "Sign up" , new_user_registration_path %>.</h3>
</p>
<div class="round_top">
	<%= link_to "Sign up" , new_user_registration_path, :class => "registration_button" %>	
</div>
</div>