<style>
.red_back {
	background-color: #C00000;
}

.white_back {
	background-color: #FFF;
}

a {
	color:#006600;
	text-decoration: none;
	font-size: 20px;
}

a:hover {
	color:#009900;
}

p {
	font-size:18px;
}
</style>
<div class="red_back">
	<%= image_tag("logo1.png", :alt => "Peppernote") %>
	<div class="white_back">
		<h1>Hi peppernoter!</h1>
		<p>Change of your password in Peppernote(<%= url_for(:action => 'home', :controller => 'pages', :only_path => false) %>) was requested. You can change it through the link below</p>

		<p><%= link_to 'Change password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

		<p>If you didn't request this, please ignore this email.</p>
		<p>Your password won't change until you access the link above and create a new one.</p>
	</div class="white_back">
</div class="red_back">
